// Material
$material-12: rgba(0, 0, 0, 0.12);
$material-34: rgba(0, 0, 0, 0.34);
$material-54: rgba(0, 0, 0, 0.54);
$material-87: rgba(0, 0, 0, 0.87);

// Colors
$black: #000;
$white: #fff;
$green: #00e676;
$blue: #82b1ff;

// Sizes
$border-radius: 4px;
$normal: 16px;
